li.menu {
    color: rgb(207, 163, 198);
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 20%;
}

li.menu:hover {
    background-color: rgb(231, 211, 227);
}

h1, h2, h3 {
    background-color: rgb(231, 211, 227);
}

p {
    background-color: rgb(231, 211, 227);
}

tr:hover {
    background-color: rgb(143, 143, 143);
}

div.top {
    text-align: center;
}

div.mid:hover {
    background-color: rgb(212, 212, 212);
}

div.bottom:hover {
    background-color: rgb(212, 212, 212);
}

span {
    color: rgb(0, 0, 0);
}

h3#support {
    color: rgb(0, 0, 0);
}

a {
    color: rgb(170, 170, 170);
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }